@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
:root {
  --text-color: #a9b1d6;
  --primary: #7000e5;
  --secondary: #2ac3de;
  --background-color: #0e1212;
   --orange-color: #cb450c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 
    overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

body {
  
}

h1 {
  color: var(--primary);
  font-size: 32px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  color: var(--primary);
}

h3 {
  margin-bottom: 10px;
}

a {
  color: var(--text-color);
}
